.menu {
    width: 10rem;
    background: linear-gradient(135deg, #ffcccc, #ffe6e6);
    color: white;
    text-align: center;
}
.menu > img{
        height: 4rem;
        padding: 10px;
        margin-right: auto;
        border-radius: 50%;
    };
hr {
    border: 1px solid gray;
    width: 90%;
    margin: 10px auto;
}

.choice {
    display: flex;
    padding: 1px;
    margin-bottom: .2rem;
    align-items: center;
    background: linear-gradient(135deg, #e98686, #c45050);
    height: 2rem;
    cursor: pointer;
    font-size:.9rem;
    margin-left:1rem;
    gap: 1rem;
    transition: 100ms color ease-in;
}
.choice:hover{
        color: black;
    }

.menu-list {
    display: flex;
    flex-direction: column;
    margin-left: .2rem;
    background: linear-gradient(135deg, #e98686, #ffe6e6);

}
.menu-list > span {
    font-size:.9rem;
}

.playlist {
    margin: 5px 10px;
    font-size: 1rem;
    cursor: default;
}

.profileImg > img {
    border-radius: 50%;
}